{% extends "portal/approval/base.html" %}

{% block head_title %}
  <title>Approval Request Sent - {{SITE_NAME}}</title>
{% endblock head_title %}


{% block action_box %}

<div class="card-box-content box-shadow-4dp quick-nav-blank">

    <div class="panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <i class="fa fa-paper-plane fa-2x pull-right account-icon-vertical-align"></i>
                <h3 class="bold">Approval Request Sent</h3>
            </div>
        </div>
        <div class="panel-body">

            <p>
                {% trans "We have received your request to become an approved author." %}<br><br>
                {% trans "The quality and the authenticity of your first few articles will be verified." %}<br><br>
                {% trans "Once we have done that, our staff will get back to you as soon as time permits." %}<br>
            </p>
            </br>
            The {{SITE_NAME|capfirst}} Team!

        </div>

    </div>

</div>
{% endblock action_box %}
