{% extends "admin/profile/base.html" %}

{% block head_title %}
  <title>Account Preferences - {{SITE_NAME}}</title>
{% endblock head_title %}

{% block action_box %}

{% get_menu "SUBMENU_ACCOUNT_PROFILE" as menu_list %}
{% include "admin/account/menu_quick.html" %}

<div class="card-box-content box-shadow-4dp">

  <div class="panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <i class="fa fa-cog fa-2x pull-right account-icon-vertical-align"></i>
            <h3 class="bold">Account Preferences</h3>
        </div>
    </div>
    <div class="panel-body">

        <form class="form-horizontal"
              action="?next={% if request.GET.next %}{{request.GET.next}}{% else %}{% url 'userware:user_account_redirect' %}{% endif %}"
              enctype="multipart/form-data"
              method="POST"
              accept-charset="utf-8"
              novalidate>

            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                     Save
                </button>
            {% endbuttons %}

        </form>

        <div class="new-divider"></div>
        <i class="fa fa-hand-o-right text-info"></i> Optional info that will be shown on your public page.

    </div>

  </div>
</div>

{% endblock action_box %}
