<div id="target-article-{{article.id}}">

    <div class="card-box-content box-shadow-4dp">

        <div class="panel-default">
            <div class="panel-heading">
              <div class="panel-title">
                  <div class="article-icon pull-right">
                    <i class="fa fa-newspaper-o"></i>
                  </div>
                  <h3 class="bold">
                    Article
                    <span class="ajax_wheel spin-it">
                      <img src="{% static 'img/misc/ajax_loader_red.gif' %}">
                    </span>
                  </h3>
              </div>
            </div>
            <div class="panel-body">

                {% if not article.is_private and not article.is_archived and article.headline %}
                <div class="pub-link">
                    <span class="{% if article.public %} text-success {% else %} text-warning {% endif %}">Link: </span>
                     <a href="{{article.get_absolute_url_short}}" target="_blank"> {{article.get_absolute_url_short}}</a>
                </div>
                {% endif %}


                <form class="form-horizontal auto-save-snippets-on-action"
                      action="{% url 'articleware:article_update' article.id %}"
                      enctype="multipart/form-data"
                      method="POST"
                      accept-charset="utf-8"
                      novalidate>

                    {% csrf_token %}
                    {% bootstrap_form form %}
                </form>

            </div>

            <div class="panel-footer">

            <div class="article-action-box">

              <i class="clickable-icon fa fa-floppy-o text-primary article-update" data-target="target-article-{{article.id}}" rel="tooltip" data-placement="top" data-original-title="save">
              </i>

              {% if article.headline %}
                {% if article.is_public %}
                  <a href="{{request|pub_short_link:article}}" target="_blank" rel="tooltip" data-placement="top" data-original-title="public view">
                    <i class="fa fa-eye text-success"></i>
                  </a>
                {% elif article.is_unlisted %}
                  <a href="{{request|pub_short_link:article}}" target="_blank" rel="tooltip" data-placement="top" data-original-title="unlisted view">
                    <i class="fa fa-eye text-warning"></i>
                  </a>
                {% else %}
                  <a href="{{request|pub_short_link:article}}" target="_blank" rel="tooltip" data-placement="top" data-original-title="private view">
                    <i class="fa fa-eye-slash text-muted"></i>
                  </a>
                {% endif %}
              {% endif %}

              {% if article.is_public or article.is_unlisted and article.headline %}
                  {% now 'l, F d, Y @ f A' as current_date %}
                  <a href="mailto:?subject={{article.headline}}&amp;body=I am sharing this {% if article.is_unlisted %}unlisted{% endif %} article with you. Check it out! %0D%0A%0D%0A {{request|email_share:article}} %0D%0A%0D%0A ------------- %0D%0A {{current_date}}" rel="tooltip"  data-placement="top" data-original-title="send to friends">
                    <i class="fa fa-paper-plane-o text-success"></i>
                  </a>
              {% endif %}

            </div>

            </div>

        </div>

    </div>

</div>
