{% extends "admin/user/base_unauthenticated.html" %}

{% block head_title %}
  <title>Password Changed - {{SITE_NAME}}</title>
{% endblock head_title %}


{% block action_box %}

<div class="card-box-content box-shadow-4dp quick-nav-blank">

    <div class="panel-default">
        <div class="panel-heading">
            <div class="panel-title">
                <i class="fa fa-check fa-2x pull-right account-icon-vertical-align"></i>
                <h3 class="bold">Password Set</h3>
            </div>
        </div>
        <div class="panel-body">

            <p>
                {% trans "Your new password is ready for use.  You can login with your new password now." %}
                [ <a class="info" href="{% url 'userware:user_login' %}">Login</a> ]
            </p>
        </div>

    </div>

</div>
{% endblock action_box %}
