{% extends "admin/user/base_unauthenticated.html" %}

{% block head_title %}
  <title>Password Reset - {{SITE_NAME}}</title>
{% endblock head_title %}


{% block action_box %}

<div class="card-box-content box-shadow-4dp quick-nav-blank">

  <div class="panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <i class="fa fa-key fa-2x pull-right account-icon-vertical-align"></i>
            <h3 class="bold">Password Reset</h3>
        </div>
    </div>
    <div class="panel-body">

        <form class="form-horizontal"
              action="{% url 'userware:user_password_reset_request' %}"
              enctype="multipart/form-data"
              method="POST"
              accept-charset="utf-8"
              novalidate>

            {% csrf_token %}
            {% bootstrap_form form %}
            {% buttons %}
                <button type="submit" class="btn btn-primary">
                     Send
                </button>
            {% endbuttons %}

        </form>

    </div>

  </div>

</div>
{% endblock action_box %}
