{% extends "admin/user/base_unauthenticated.html" %}

{% block head_title %}
  <title>Password Reset Sent - {{SITE_NAME}}</title>
{% endblock head_title %}

{% block action_box %}

<div class="card-box-content box-shadow-4dp quick-nav-blank">

  <div class="panel-default">
    <div class="panel-heading">
        <div class="panel-title">
            <i class="fa fa-paper-plane-o fa-2x pull-right account-icon-vertical-align"></i>
            <h3 class="bold">Password Requests</h3>
        </div>
    </div>
    <div class="panel-body">

        <p>
            {% trans "We just sent you some instructions for setting a new password. It was sent to your account's email address." %} </br><br/>
            {% trans "You should be receiving it shortly. Make sure you check your <span class='info'><strong>spam folder</strong></span> as well." %}
            <br/>
            <br/>
            <strong>{% trans "Please follow the instructions we sent to you." %}</strong>
        </p>

    </div>

  </div>
</div>

{% endblock action_box %}
