<div name="#snippet-block-{{snippet.id}}" class="media-container">

    <div id="snippet-{{snippet.id}}-image-carousel" class="carousel slide image-carousel" data-ride="carousel" data-interval="false">

        <ol class="carousel-indicators">
        {% for image in snippet.images %}
            <li data-target="#snippet-{{snippet.id}}-image-carousel" data-slide-to="{{ forloop.counter|add:"-1" }}" class="{% if forloop.first %} active {% endif %}"></li>
        {% endfor %}
        </ol>

        <div class="carousel-inner">
        {% for image in snippet.images %}

            <div class="item {% if forloop.first %} active {% endif %}">
                <div class="image-wrapper">
                    <div class="image">
                        <img src="{{request|optimized_image:image}}" alt="Image {{forloop.counter}}" class="bottom-aligned">
                    </div>
                </div>
            </div>

        {% endfor %}
        </div>

        <a href="#snippet-{{snippet.id}}-image-carousel" data-slide="prev" class="carousel-control left">
            <div class="overlay-left-button" style="background: url('{% static 'img/misc/carousel-arrow-stripes.png' %}') no-repeat;"></div>
        </a>
        <a href="#snippet-{{snippet.id}}-image-carousel" data-slide="next" class="carousel-control right">
            <div class="overlay-right-button" style="background: url('{% static 'img/misc/carousel-arrow-stripes.png' %}') no-repeat;"></div>
        </a>
    </div>

</div>

{% if request.user_agent.is_touch_capable %}
    <script type="text/javascript">
        document.addEventListener('DOMContentLoaded', function() {
            $("#snippet-{{snippet.id}}-image-carousel").swiperight(function(event) {
                event.preventDefault();
                $(this).carousel('prev');
            });

            $("#snippet-{{snippet.id}}-image-carousel").swipeleft(function(event) {
                event.preventDefault();
                $(this).carousel('next');
            });
        });
    </script>
{% endif %}
